---
import { Icon } from 'astro-icon/components';
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <Icon name="tabler:menu-2" class="h-5 w-5" />
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-xl">{SITE_TITLE}</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      <li><HeaderLink href="/tags">Tags</HeaderLink></li>
      <li><HeaderLink href="/cv">CV</HeaderLink></li>
      <li><HeaderLink href="/about">About</HeaderLink></li>
    </ul>
  </div>

  <div class="navbar-end gap-2">
    <ThemeToggle />
    <a
      href="https://github.com/yourusername"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-ghost btn-circle"
      aria-label="GitHub"
    >
      <Icon name="tabler:brand-github" class="w-5 h-5" aria-hidden="true" />
    </a>
  </div>
</header>
